name: Deploy PDF Converter to Docker

on:
  push:
    branches:
      - master
      - develop

jobs:
  deploy-docker:
    name: Build & Deploy PDF Converter to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true

      - name: SET DOCKER_TAG from GITHUB_REF
        shell: bash
        run: DOCKER_TAG=`echo ${GITHUB_REF} | cut -d "/" -f3-`

      - name: Debug
        shell: bash
        run: |
          echo "GITHUB_REF:" ${GITHUB_REF}
          echo "DOCKER_TAG:" ${{ env.DOCKER_TAG }}

      - name: Publish PDF Converter to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: unfoldingword/pdf-converter
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: resources/docker-app
          dockerfile: Dockerfile-${{ env.DOCKER_TAG }}Branch
          tags: ${{ env.DOCKER_TAG }}
